<a href="https://colab.research.google.com/github/cjrosasv/Datasets/blob/master/Insurance_claim_V0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1. **Libraries**

In [144]:
import numpy as np #linear algebra
import pandas as pd #data processing

In [145]:
!pip install scikit-learn==0.23.1

Requirement already satisfied: scikit-learn==0.23.1 in /usr/local/lib/python3.6/dist-packages (0.23.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.23.1) (0.17.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.23.1) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.23.1) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.23.1) (1.18.5)

In [146]:
from sklearn import __version__ as sklearn_version
print('La versión instalada de scikit-learn es {}.'.format(sklearn_version))

La versión instalada de scikit-learn es 0.23.1.

In [147]:
pip install -U imbalanced-learn==0.4.3.

Requirement already up-to-date: imbalanced-learn==0.4.3. in /usr/local/lib/python3.6/dist-packages (0.4.3)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn==0.4.3.) (0.23.1)
Requirement already satisfied, skipping upgrade: numpy>=1.8.2 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn==0.4.3.) (1.18.5)
Requirement already satisfied, skipping upgrade: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn==0.4.3.) (1.4.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->imbalanced-learn==0.4.3.) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->imbalanced-learn==0.4.3.) (0.17.0)

**Import of dataset**

In [148]:
insurance_data = pd.read_csv("https://github.com/dphi-official/Datasets/blob/master/travel_insurance/Training_set_label.csv?raw=true")

# **Data Understanding**

In [149]:
#Dataset size

insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48260 entries, 0 to 48259
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Agency                48260 non-null  object
 1   Agency Type           48260 non-null  object
 2   Distribution Channel  48260 non-null  object
 3   Product Name          48260 non-null  object
 4   Duration              48260 non-null  int64
 5   Destination           48260 non-null  object
 6   Net Sales             48260 non-null  float64
 7   Commision (in value)  48260 non-null  float64
 8   Gender                13899 non-null  object
 9   Age                   48260 non-null  int64
 10  Claim                 48260 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 4.1+ MB

In [150]:
insurance_data.shape

(48260, 11)

In [151]:
insurance_data.head()

  Agency    Agency Type Distribution Channel  ... Gender  Age Claim
0    CWT  Travel Agency               Online  ...    NaN   29     0
1    EPX  Travel Agency               Online  ...    NaN   36     0
2    EPX  Travel Agency               Online  ...    NaN   25     0
3    C2B       Airlines               Online  ...      M   24     0
4    EPX  Travel Agency               Online  ...    NaN   23     0

[5 rows x 11 columns]

In [152]:
insurance_data.isnull().sum()

Agency                      0
Agency Type                 0
Distribution Channel        0
Product Name                0
Duration                    0
Destination                 0
Net Sales                   0
Commision (in value)        0
Gender                  34361
Age                         0
Claim                       0
dtype: int64

In [153]:
#QUIZ 3.1 - Fill the missing values in "Gender" column with "Not specified"
## Let's check the values in this column

insurance_data['Gender'].value_counts(dropna=False)

NaN    34361
M       7137
F       6762
Name: Gender, dtype: int64

In [154]:
insurance_data['Gender'] = insurance_data['Gender'].fillna("Not specified") #we fill the null values with the expression "Not specified"
insurance_data['Gender'].value_counts(dropna=False) #verification of the results

Not specified    34361
M                 7137
F                 6762
Name: Gender, dtype: int64

In [155]:
#QUIZ 3.2 Drop "Distribution Channel, Destination & Agency Type" columns

list_columns = ['Distribution Channel', 'Destination', 'Agency Type'] #we create a list including the columns to be deleted
insurance_data.drop(list_columns, axis=1, inplace=True) #drop columns
insurance_data.info() #verification of the changes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48260 entries, 0 to 48259
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Agency                48260 non-null  object
 1   Product Name          48260 non-null  object
 2   Duration              48260 non-null  int64
 3   Net Sales             48260 non-null  float64
 4   Commision (in value)  48260 non-null  float64
 5   Gender                48260 non-null  object
 6   Age                   48260 non-null  int64
 7   Claim                 48260 non-null  int64
dtypes: float64(2), int64(3), object(3)
memory usage: 2.9+ MB

In [156]:
#QUIZ 3.3. Perform one hot encoding for 'Agency', 'Gender', 'Product Name' using sklearn 

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categories='auto')
feature_arr = ohe.fit_transform(insurance_data[['Agency']]).toarray()
feature_labels = ohe.categories_
feature_labels = np.array(feature_labels).ravel()

features_agency = pd.DataFrame(feature_arr, columns=feature_labels)
features_agency

       ADM  ART  C2B  CBH  CCR  CSR  CWT  ...  JZI  KML  LWC  RAB  SSI  TST  TTW
0      0.0  0.0  0.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
48255  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
48256  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
48257  0.0  0.0  0.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
48258  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
48259  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[48260 rows x 16 columns]

In [157]:
feature_arr = ohe.fit_transform(insurance_data[['Gender']]).toarray()
feature_labels = ohe.categories_
feature_labels = np.array(feature_labels).ravel()

features_gender = pd.DataFrame(feature_arr, columns=feature_labels)
features_gender

         F    M  Not specified
0      0.0  0.0            1.0
1      0.0  0.0            1.0
2      0.0  0.0            1.0
3      0.0  1.0            0.0
4      0.0  0.0            1.0
...    ...  ...            ...
48255  0.0  0.0            1.0
48256  1.0  0.0            0.0
48257  0.0  0.0            1.0
48258  0.0  0.0            1.0
48259  0.0  0.0            1.0

[48260 rows x 3 columns]

In [158]:
feature_arr = ohe.fit_transform(insurance_data[['Product Name']]).toarray()
feature_labels = ohe.categories_
feature_labels = np.array(feature_labels).ravel()

features_product = pd.DataFrame(feature_arr, columns=feature_labels)
features_product

       1 way Comprehensive Plan  ...  Value Plan
0                           0.0  ...         0.0
1                           0.0  ...         0.0
2                           0.0  ...         0.0
3                           0.0  ...         0.0
4                           0.0  ...         0.0
...                         ...  ...         ...
48255                       0.0  ...         0.0
48256                       0.0  ...         0.0
48257                       0.0  ...         0.0
48258                       0.0  ...         0.0
48259                       1.0  ...         0.0

[48260 rows x 26 columns]

In [161]:
#join datasets

insurance_data = insurance_data.merge(features_agency, right_index=True, left_index=True)
insurance_data

      Agency                     Product Name  Duration  ...  SSI  TST  TTW
0        CWT  Rental Vehicle Excess Insurance        61  ...  0.0  0.0  0.0
1        EPX                Cancellation Plan        93  ...  0.0  0.0  0.0
2        EPX         2 way Comprehensive Plan        22  ...  0.0  0.0  0.0
3        C2B                      Silver Plan        14  ...  0.0  0.0  0.0
4        EPX                Cancellation Plan        90  ...  0.0  0.0  0.0
...      ...                              ...       ...  ...  ...  ...  ...
48255    EPX         2 way Comprehensive Plan        39  ...  0.0  0.0  0.0
48256    C2B                      Bronze Plan        20  ...  0.0  0.0  0.0
48257    CWT  Rental Vehicle Excess Insurance        19  ...  0.0  0.0  0.0
48258    EPX         2 way Comprehensive Plan         7  ...  0.0  0.0  0.0
48259    EPX         1 way Comprehensive Plan        35  ...  0.0  0.0  0.0

[48260 rows x 24 columns]

In [164]:
insurance_data = insurance_data.join(features_gender)
insurance_data = insurance_data.join(features_product)
insurance_data

      Agency  ... Value Plan
0        CWT  ...        0.0
1        EPX  ...        0.0
2        EPX  ...        0.0
3        C2B  ...        0.0
4        EPX  ...        0.0
...      ...  ...        ...
48255    EPX  ...        0.0
48256    C2B  ...        0.0
48257    CWT  ...        0.0
48258    EPX  ...        0.0
48259    EPX  ...        0.0

[48260 rows x 53 columns]